html,body{width:90%;height:90%}h1{align:center;left:30%;background-color:#3498DB}img{height:250px;width:250px}p{color:#3498DB}#container{position:absolute;left:30%;background-color:#EAEDED;border-radius:10px}
