$color: #3498DB;
$widht: 250px;
$height: 250px;
$background: #EAEDED;
$border: 10px;
<<<<<<< HEAD

$grid-width: 80px;
$gutter-width: 20px;
=======
>>>>>>> de586a3a4f65b7920f350ea91a7d6f827bbaeff9

/*@function grid-width($n) {
  @return $n * $grid-width + ($n - 1) * $gutter-width;
}

#container { width: grid-width(5); } */

html, body{
  width: 90%;
  height: 90%;
}
h1 {
  align: center;
  left: 30%;
  background-color: $color;
}

img{
  height: $height;
  width: $widht;
}

p{
  color: $color;
}

#container{
  position: absolute;
  left: 30%;
	background-color: $background;
	border-radius: $border;
}
